@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using Ion.Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AddAnnounceModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/AddAnnounce.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <a asp-controller="AnnouncementMVC" asp-action="Index" class="logo-link">
                <p class="logo">ION</p>
            </a>
            <a asp-controller="UserMVC" asp-action="Details" asp-route-id=@ViewBag.Id class="profile-link">
                <img src="/@ViewBag.PathToPhoto" width="50px">
            </a>
        </div>
    </header>
    <div class="car-info-container">
        <div class="car-info">
            <form class="add-announce-form" method="post" enctype="multipart/form-data" asp-action="Create">
                <div class="car-features">
                    <div class="car-feature">
                        <img src="/static/CarBodyTypeWhite.png" alt="Тип кузова" width="161" height="100">
                        <p>Тип кузова</p>
                        <select class="body-type" asp-for="Car.BodyType">
                            <option selected disabled></option>
                            @foreach (var el in Enum.GetValues(typeof(BodyType)))
                            {
                                <option value="@el">@(el.GetType().GetMember(el.ToString()!).First()?.GetCustomAttribute<DisplayAttribute>()?.Name)</option>
                            }
                        </select>
                    </div>
                    <div class="car-feature">
                        <img src="/static/TransmissionWhite.png" alt="Тип КПП" width="99" height="100">
                        <p>Тип КПП</p>
                        <select class="gearbox-type" asp-for="Car.GearboxType">
                            <option selected disabled></option>
                            @foreach (var el in Enum.GetValues(typeof(GearboxType)))
                            {
                                <option value="@el">@(el.GetType().GetMember(el.ToString()!).First()?.GetCustomAttribute<DisplayAttribute>()?.Name)</option>
                            }
                        </select>
                    </div>
                    <div class="car-feature">
                        <img src="/static/CarMarkWhite.png" alt="Марка авто" width="161" height="100">
                        <p>Марка авто</p>
                        <input type="text" asp-for="Car.Name" value="Марка автомобиля"/>
                    </div>
                    <div class="car-feature">
                        <img src="/static/MoneyWhite.png" alt="Цена" width="107" height="100">
                        <p>Цена</p>
                        <input type="number" asp-for="Announcement.PricePerUnit" value="5000">
                    </div>
                </div>
                <div class="car-description">
                    <p>Описание и фотографии</p>
                    <div class="announce-description">
                        <textarea id="car-description" rows="4" cols="50" asp-for="Announcement.Description">Особенности вашего автомобиля и условий аренды</textarea>
                        <br>
                    </div>
                    <div class="car-photos">
                        <label for="file">Прикрепите фотографии автомобиля<br/></label>
                        <input type="file" accept="image/*" asp-for="Announcement.Files" multiple />
                    </div>
                    <input hidden value="@ViewBag.Id" asp-for="Announcement.AuthorId" />
                    <input hidden value="@ViewBag.Id" asp-for="Car.UserId" />
                    <div class="submit-form">
                        <input type="submit" value="Подать объявление">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>