@model AnnounceModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/Announce.css">
</head>

<body>
<header>
    <div class="header">
        <a asp-controller="AnnouncementMVC" asp-action="Index" class="logo-link">
            <p>ION</p>
        </a>
    </div>
</header>
<div class="car-info">
    <a asp-controller="UserMVC" asp-action="OwnerProfile" asp-route-id=@Model.Author.Id>
        <img src="@Model.Author.PathToPhoto" height="150px">
    </a>
    <div class="car-creds">
        <p>@Model.Author.FirstName @Model.Author.LastName</p>
        <p>@Model.Author.PhoneNumber</p>
        <div class="rating">
            <p class="score">@Model.Annoncement.Rating</p>
            <p class="reviews-count">@Model.Annoncement.ReviewsCount</p>
        </div>
    </div>
    <div class="car-specs">
        <div class="car-feature">
            <p>Коробка передач</p>
            <p>@Model.Annoncement.CarGearboxType.ToString()</p>
        </div>
        <div class="car-feature">
            <p>Тип кузова</p>
            <p>@Model.Annoncement.CarBodyType.ToString()</p>
        </div>
        <div class="car-price">
            <p>Цена аренды</p>
            <p>@Model.Annoncement.PricePerUnit р/день</p>
        </div>
    </div>
</div>
<div class="user-reviews">
    <p>Отзывы</p>
    <div class="reviews-list">
    @foreach (var review in Model.Reviews)
    {
        <div class="review">
            <div class="review-box">
                <p>@review.Content</p>
            </div>
            <div class="reviewer">
                <a asp-controller="UserMVC" asp-action="OwnerProfile" asp-route-id=@review.UserId>
                    <img src=@review.PathToPhoto height="65px" width="65px">
                    <p>@review.UserFirstName @review.UserLastName</p>
                </a>
            </div>
        </div>
    }
    </div>
</div>
<div class="car-photos">
    @foreach (var path in Directory.GetFiles(Model.Annoncement.PathToImages))
    {
        <img src=@path[path.IndexOf("/images/")..] width="450px" height="236px">   
    }
</div>
</body>