@model Ion.RazorPages.Views.Announce
@{
    Layout = null;
}

@{
    var score = Model.Reviews.Average(r => r.Rating);     
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/Announce.css">
</head>

<body>
<header>
    <div class="header">
        <a href="#" class="logo-link">
            <p>ION</p>
        </a>
    </div>
</header>
<div class="car-info">
    <img src="static/UserLogo.png" height="150px">
    <div class="car-creds">
        <p>@Model.Author.FirstName @Model.Author.LastName</p>
        <p>@Model.Author.PhoneNumber</p>
        <div class="rating">
            <p class="score">@score</p>
            <p class="reviews-count">@Model.Reviews.Count</p>
        </div>
    </div>
    <div class="car-specs">
        <div class="car-feature">
            <p>Коробка передач</p>
            <p>@Model.Annoncement.CarBodyType.ToString()</p>
        </div>
        <div class="car-price">
            <p>Цена аренды</p>
            <p>@Model.Annoncement.PricePerUnit р/день</p>
        </div>
    </div>
</div>
<div class="user-reviews">
    <p>Отзывы</p>
    <div class="reviews-list">
    @foreach (var review in Model.Reviews)
    {
        <div class="review">
            <div class="review-box">
                <p>@review.Content</p>
            </div>
            <div class="reviewer">
                <a asp-controller="UserMVC" asp-action="Details" asp-route-id=@review.UserId>
                    <img src=@review.PathToPhoto height="25px">
                    <p>@review.UserFirstName @review.UserLastName</p>
                </a>
            </div>
        </div>
    }
    </div>
</div>
<div class="car-photos">
    @foreach (var path in Directory.GetFiles(Model.Annoncement.PathToImages))
    {
        <img src=@path>
    }
</div>
</body>