@page "{id:int}"
@model Ion.RazorPages.wwwroot.RazorPages.OwnerProfile

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/OwnerProfile.css">
</head>

<body>
    <header>
        <a href="#" class="logo-link">
            <p>ION</p>
        </a>
    </header>
    <div class="user-info">
        <img src="@Model.User.PathToPhoto" height="75px">
        <div class="user-creds">
            <p>@Model.User.FirstName @Model.User.LastName</p>
            <p>@Model.User.PhoneNumber</p>
            <div class="rating">
                <p class="score">@Model.UserRating</p>
                <p class="reviews-count">@Model.UserReviews.Count</p>
            </div>
        </div>
    </div>
<div class="orders-history">
    <p>Поданные объявления</p>
    <div class="cars-list">
        @foreach (var announcement in Model.UserAnnouncements)
        {
            <div class="car-card">
                <img src="@Directory.GetFiles(announcement.PathToImages)[0]">
                <div class="car-info">
                    <p class="mark">@announcement.CarName</p>
                    <div class="rating">
                        <p class="score">@Model.GetAnnouncementRating(announcement)</p>
                        <p class="reviews-count">@Model.GetReviewsCount(announcement))</p>
                    </div>
                    <p class="price">@announcement.PricePerUnit р/день</p>
                </div>
            </div>
        }
    </div>
</div>

<div class="user-reviews">
    <p>Отзывы</p>
    <div class="reviews-list">
        @foreach (var review in Model.UserReviews)
        {
            <div class="review">
                <div class="review-box">
                    <p>Отзыв</p>
                </div>
                <div class="reviewer">
                    <img src=@review.PathToPhoto height="25px">
                    <p>@review.UserFirstName @review.UserLastName</p>
                </div>
            </div>
        }
    </div>
</div>
</body>