@page
@model Ion.RazorPages.wwwroot.RazorPages.UserProfile

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/UserProfile.css">
</head>

<body>
    <header>
        <div class="header">
            <a href="#" class="logo-link">
                <p>ION</p>
            </a>
        </div>
    </header>
    <div class="user-info">
        <img src="@Model.UserToGet.PathToPhoto" height="150px">
        <div class="user-creds">
            <p>@Model.UserToGet.FirstName @Model.UserToGet.LastName</p>
            <p>@Model.UserToGet.PhoneNumber</p>
        </div>
    </div>
    <div class="orders-history">
        <p>История заказов</p>
        <div>
            <div class="cars-list">
                @foreach (var order in Model.TripRecords)
                {
                    <div class="car-card">
                        <img src=@Directory.GetFiles(order.PathToImages)[0]>
                        <div class="car-info">
                            <p class="mark">@order.CarName</p>
                            <div class="rating">
                                <p class="score">@Model.GetAnnouncementRating(order.AnnouncementId)</p>
                                <p class="reviews-count">@Model.GetReviewsCount(order.AnnouncementId)</p>
                            </div>
                            <p class="price">@order.PricePerUnit р/день</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>