@model UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/UserProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header">
            <a class="logo-link" asp-controller="AnnouncementMVC" asp-action="Index">
                <p>ION</p>
            </a>
        </div>
    </header>
    <div class="user-info-container">
        <div class="user-info">
            <img src="@Model.UserToGet.PathToPhoto" height="150px">
            <div class="user-creds">
                <p>@Html.Raw(@Model.UserToGet.FirstName + " " + @Model.UserToGet.LastName)</p>
                <p>@Model.UserToGet.PhoneNumber</p>
            </div>
        </div>
    </div>
    <div class="orders-history">
        <p>История заказов</p>
        <div>
            <div class="cars-list">
                @foreach (var order in Model.TripRecords)
                {
                    <div class="car-card">
                        <a asp-controller="AnnouncementMVC" asp-action="Details" asp-route-id=@order.AnnouncementId>
                            <div class="car-card-img">
                                @{ var p = Directory.GetFiles(order.PathToImages)[0];}
                                <img src=@p[p.IndexOf("/images/")..]>
                            </div>
                            <div class="car-info">
                                <p class="mark">@order.CarName</p>
                                <div class="rating">
                                    <p class="score">@order.Rating</p>
                                    <p class="reviews-count">@order.ReviewsCount<br/>число оценок</p>
                                </div>
                                <p class="price">@order.PricePerUnit р/день</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</body>